{{ define "header.tmpl" }}

<!DOCTYPE html>
<html>
<head>
  <!-- body { font-family: Courier; } -->
  <style>
    table td { white-space: nowrap; }
    .stance {
      background-image: url("/img/stance.png");
      float: left;
      height: 16px;
      width: 16px;
    }
    .stance.stance-Y {
      background-position: 0px 0;
    }
    .stance.stance-N {
      background-position: -18px 0;
    }
    .stance.stance-W {
      background-position: -36px 0;
    }
  </style>
</head>
<body>

{{end}}
