{{ template "header.tmpl" . }}

{{ $logged_in := 0 }}
{{ if gt .User.ID 0 }}{{ $logged_in = 1 }}{{ end }}

{{ if $logged_in }}
  <a href="/user">[{{ .User.Username }}]</a>
  <a href="/logout">[Logout]</a>
{{ else }}
  <form action="/login" method="POST">
    <input name="username" value="username">
    <input name="password" value="password">
    <input type="submit" value="Login">
  </form>
  (For now password is ignored. New accounts are created for any username you enter.)
{{ end }}
<a href="/users">[Browse all users]</a>

<h1>{{ .Title }}</h1>

<table>
{{ if $logged_in }}
  <tr><td colspan=6>My Bills</td></tr>
  {{ range .MyBills }}
    <tr>
      <td><a href="{{ .URL }}">{{ .Number }}</a></td>
        <td>
          {{ if eq .Stance "Y" }} Y {{ else }} <a href="/watch/{{ .ID }}/Y">Y</a> {{ end }}
          {{ if eq .Stance "N" }} N {{ else }} <a href="/watch/{{ .ID }}/N">N</a> {{ end }}
          <a href="/watch/{{ .ID }}/U">U</a>
        </td>
      <td>{{ .Status }}</td>
      <td>{{ .LastActionDate }}</td>
      <td>{{ .LastAction }}</td>
      <td>{{ .Title }}</td>
    </tr>
  {{ end }}
  <tr><td colspan=6>All Bills</td></tr>
{{ end }}

{{ range .AllBills }}
  <tr>
    <td><a href="{{ .URL }}">{{ .Number }}</a></td>
    {{ if $logged_in }}
      <td>
        <a href="/watch/{{ .ID }}/Y">Y</a>
        <a href="/watch/{{ .ID }}/N">N</a>
        <a href="/watch/{{ .ID }}/W">W</a>
      </td>
    {{ else }}
      <td></td>
    {{ end }}
    <td>{{ .Status }}</td>
    <td>{{ .LastActionDate }}</td>
    <td>
      {{ $l := len .LastAction }}
      {{ if gt $l 40 }}
        {{ printf "%.40s..." .LastAction }}
      {{ else }}
        {{ .LastAction }}
      {{ end }}
    </td>
    <td>{{ .Title }}</td>
  </tr>
{{ end }}
</table>

{{ template "footer.tmpl" . }}
