<!DOCTYPE html>
<html>
<head>
<style>
  body { font-family: Courier; }
  table td { white-space: nowrap; }
</style>
</head>
<body>

{{ if .Username }}
  {{ .Username }}
  <a href="/logout">Logout</a>
{{ else }}
  <form action="/login" method="POST">
    <input name="username" value="username">
    <input name="password" value="password">
    <input type="submit" value="Login">
  </form>
{{ end }}

<h1>{{ .Title }}</h1>

<table>
{{ if .Username }}
  <tr><td colspan=6>My Bills</td></tr>
  {{ range .MyBills }}
    <tr>
      <td><a href="{{ .URL }}">{{ .Number }}</a></td>
      <td>
        {{ if eq .Stance "Y" }} Y {{ else }} <a href="/watch/{{ .ID }}/Y">Y</a> {{ end }}
        {{ if eq .Stance "N" }} N {{ else }} <a href="/watch/{{ .ID }}/N">N</a> {{ end }}
        <a href="/watch/{{ .ID }}/U">U</a>
      </td>
      <td>{{ .Status }}</td>
      <td>{{ .LastActionDate }}</td>
      <td>{{ .LastAction }}</td>
      <td>{{ .Title }}</td>
    </tr>
  {{ end }}
  <tr><td colspan=6>All Bills</td></tr>
{{ end }}

{{ range .AllBills }}
  <tr>
    <td><a href="{{ .URL }}">{{ .Number }}</a></td>
    <td>
      <a href="/watch/{{ .ID }}/Y">Y</a>
      <a href="/watch/{{ .ID }}/N">N</a>
      <a href="/watch/{{ .ID }}/W">W</a>
    </td>
    <td>{{ .Status }}</td>
    <td>{{ .LastActionDate }}</td>
    <td>{{ .LastAction }}</td>
    <td>{{ .Title }}</td>
  </tr>
{{ end }}
</table>

</br></br>
<a href="https://github.com/jhannah/legislature_calendar">Source code</a>
</body>
</html>

