<!DOCTYPE html>
<html>
<head>
<style>
  body { font-family: Courier; }
  table td { white-space: nowrap; }
</style>
</head>
<body>

<h1>{{ .Title }}</h1>

<table>
{{ range .Bills }}
  <tr>
    <td><a href="{{ .URL }}">{{ .Number }}</a></td>
    <td>{{ .Status }}</td>
    <td>{{ .LastActionDate }}</td>
    <td>{{ .LastAction }}</td>
    <td>{{ .Title }}</td>
  </tr>
{{ end }}
</table>

</br></br>
<a href="https://github.com/jhannah/legislature_calendar">Source code</a>
</body>
</html>

